 

@code {
    [Parameter]
    public int TenantId { get; set; }
    [Parameter]
    public String? Name { get; set; }

    [Parameter]
    public DateOnly StartDate { get; set; }
    [Parameter]
    public DateOnly EndDate { get; set; }
    [Parameter]
    public bool isActive { get; set; }
}

<tr>
    <td>@TenantId</td<td>@Name</td><td>@StartDate</td><td>@EndDate</td>
    <td>@isActive</td>
</tr> 